* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0b9586;
  --yellow-color: #ffbb1c;
  --icons-color: #3cab90;
  --section-padding: 4rem 0;
  --footer-color: #283646;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1200px;
}

/* Start heading */

header {
  background-color: var(--main-color);
  padding: 1rem 0;
}
.heading-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-nav-links {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.heading-nav-link {
  padding: 0.5rem 1rem;
}
.heading-nav-link a {
  text-transform: capitalize;
  color: white;
}
.number-container {
  color: white;
}
.number-container p:first-child {
  text-align: end;
  opacity: 0.8;
  font-weight: normal;
  font-size: 1.2rem;
}
.number-container:last-child {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* End heading */

/* Start hero section */
.hero-section {
  background-image: url("/images/heroImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
.hero-section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: white;
}
.hero-section .container:first-child .hero-section-heading {
  font-size: 3rem;
  max-width: 600px;
}
.hero-section-paragraph {
  font-size: 1.5rem;
  max-width: 700px;
}
.hero-section-btns-container {
  display: flex;
  gap: 1rem;
}
.hero-section-btns-container button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
}
.hero-section-btns-container button:first-child {
  color: white;
  background-color: var(--main-color);
}
.hero-section-btns-container button:last-child {
  background-color: var(--yellow-color);
}

/* End hero section */

.second-section .container {
  padding: var(--section-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.second-section .container div:first-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}
.second-section .container div:first-child h1 {
  font-size: 3rem;
  max-width: 600px;
}
.second-section .container div:first-child p {
  font-size: 1.5rem;
  width: 800px;
  color: #475467;
}
.second-section ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.second-section ul li span {
  color: #84bd3a;
}
.second-section .container div:last-child {
  position: relative;
  display: flex;
  justify-content: end;
}
.image-yellow-box {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 250px;
  height: 190px;
  background-color: var(--yellow-color);
  padding: 1rem;
  border-radius: 20px;
  color: #2a3334;
}

.second-section img {
  width: 400px;
}

/* Start solar-kits-section   */
.solar-kits-section {
  padding: var(--section-padding);
  text-align: center;
}
.solar-kits-section h1 {
  font-size: 2rem;
}
.solar-kits-section p {
  margin: 1.5rem auto;
  max-width: 800px;
}
.solar-kits-section div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
}
.solar-kits-section div article {
  text-align: center;
  min-height: 350px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -2px rgba(0, 0, 0, 0.05);
}
.solar-kits-section div article img {
  max-width: 100%;
}
.solar-kits-section div article figure {
  padding: 1rem;
}
.solar-kits-section div article p {
  color: #475467;
  max-width: 300px;
}
.solar-kits-section div article a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #3cab90;
}
.solar-kits-section div article a i {
  animation: from-left-to-right 2s ease-in-out infinite forwards;
}
@media (min-width: 768px) {
  .solar-kits-section div {
    grid-template-columns: repeat(2, minmax(250px, 300px));
    justify-content: center;
  }
  .solar-kits-section div article {
    text-align: start !important;
  }
}
@media (min-width: 992px) {
  .solar-kits-section div {
    grid-template-columns: repeat(3, minmax(250px, 300px));
  }
}

/* End solar-kits-section   */

/* Start values-section   */
.values-section {
  padding: var(--section-padding);
  text-align: center;
}
.values-section h1 {
  font-size: 2rem;
}
.values-section p {
  margin: 1.5rem 0;
}
.values-section div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
}
.values-section div article {
  padding: 2rem 1rem;
  text-align: start;
  min-height: 350px;
  border: 2px solid #3cab90;
  border-radius: 10px;
  background-color: #f5fbf9;
  text-align: center;
}
.values-section div article i {
  font-size: 3rem;
  color: #0b9586;
}
.values-section div article h3 {
  margin: 1.5rem 0;
}
.values-section div article p {
  color: #475467;
  max-width: 300px;
}
@media (min-width: 768px) {
  .values-section div {
    grid-template-columns: repeat(2, minmax(250px, 300px));
    justify-content: center;
  }
  .values-section div article {
    text-align: start !important;
  }
}
@media (min-width: 992px) {
  .values-section div {
    grid-template-columns: repeat(3, minmax(250px, 300px));
  }
}

/* End values-section   */

@keyframes from-left-to-right {
  0% {
    transform: translateX(0);
  }
  45%,
  55% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.power-section {
  background-image: url("/images/8116 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  color: white;
}
.power-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.power-section .power-section-heading {
  font-size: 2rem;
}

.power-section .power-section-paragraph {
  font-size: 1.5rem;
  max-width: 600px;
}
.power-section button {
  padding: 1rem 2rem;
  max-width: 200px;
  border-radius: 30px;
  border: none;
  background-color: var(--yellow-color);
}

footer {
  background-color: var(--footer-color);
}
footer .footer-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-top ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer-top ul li a {
  color: white;
}
.input-container {
  position: relative;
}
footer .footer-top div:last-child input {
  border: 1px solid #283646;
  padding: 1rem;
  border-radius: 30px;
}
footer .footer-top div:last-child button {
  position: absolute;
  right: 0;
}
footer .footer-bottom {
  color: #92989f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #92989f;
}
footer .footer-bottom ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom ul li {
  border-right: 1px solid #92989f;
  padding: 0.5rem 1rem;
}
footer .footer-bottom ul li a {
  color: inherit;
}
